<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>TechIndustry</title>
</head>
<body>
<header>
    <h1> Messenger </h1>
</header>
<h3 th:text="'Current user: ' + ${user}" />
<div th:each="el : ${messages}">
    <div style="border:solid; border-width:thin; width:600px; word-wrap:break-word;
        margin:10px; padding-left:20px; padding-right:20px">
    <a th:href="'/' + ${el.user}"> <b><p th:text="${el.user} + ':'"/></b> </a>
    <p th:text="${el.text}"/>
    </div>
</div> <br> <br>
<form action="/main" method="post">
    <input type="text" name="text" placeholder="Type your message">
    <button type="submit"> Send </button>
</form> <br>
<form action="/login">
    <button type="submit"> Change user </button>
</form>
</body>
</html>